@using PRO260_Team2Project.Models.AccountModels
@model User


@{
    ViewBag.Title = "Profile";    
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>@Model.UserName's Profile</h2>

<br />
Points: 0
<br />

<b>Images:</b>