@model string[]
@{
    ViewBag.Title = "Role Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<h1>Role Directory</h1>
<div class="welcome">
<div class="spacerBody">
    @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Add Role to User", "RoleAddToUser")
    <br /><br />
    <div class="table">
        
 
@foreach (string s in Model)
{
    <div class="tr">
        <div class="td">
            @s
        </div>
        <div class="td">
            <span onclick="return confirm('Are you sure to delete?')">
        <a href="/Account/RoleDelete?RoleName=@s" class="delLink">Delete Role</a>
                           </span>
        </div>
    </div>
}
        </div>
</div>

    </div>