@using PRO260_Team2Project
@model IEnumerable<ImageOwner>

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<h1>Featured</h1>
<div class="welcome">
    <p>Welcome to the "featured" section! Everybody has a chance at getting their images on the featured section, whether it's by popularity or our choice to include you on this page! We update our featured section often, so don't forget to come back!</p>
</div>
<div class="imageFilter">
    @Html.Partial("FilterResultsPartial")
</div>

<div class="bodyImages">
    @Html.Partial("GetAllImagesPartial", Model)
    <span class="stretch"></span>
</div>
