@using PRO260_Team2Project
@model IEnumerable<ImageOwner>
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<h1>Home/Index</h1>
<div class="welcome">
    <img alt="welcome">
</div>
<div class="bodyImages">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (ImageOwner io in Model)
        {
            if (io.isForSale || io.isAuction)
            {
                <div class="indexImage">
                    <a href="@Url.Action("SingleImage", "Image", @io, null)">
                        <img src="data:image;base64,@System.Convert.ToBase64String(io.Image.Image1)" class="images"/>
                    </a>
                    <ul class="imageData" id="contentText">
                        <li>@Html.ActionLink(@io.Title, "SingleImage", "Image", @io, null)</li>
                    </ul>
                </div>
            }
        }
    }
    <span class="stretch"></span>
</div>
