@using PRO260_Team2Project
@model IEnumerable<ImageOwner>
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<h1>Welcome to PixelJunkie</h1>
<div class="welcome">
    Hi. Welcome to PixelJunkie. PixelJunkie is an image sharing website with it's own built in economy and currency system.
    <br /><br />See what others are sharing:
</div>

<div class="bodyImages">    
    @if (Model != null && Model.Count() > 0)
    {
        foreach (ImageOwner io in Model)
        {
            if (io.isForSale == true || io.isAuction == true)
            {
                <div class="indexImage">
                    <a href="@Url.Action("SingleImage", "Image", @io, null)">
                        <img src="data:image;base64,@System.Convert.ToBase64String(io.Image.Image1)" class="images"/>
                    </a>
                    <ul class="imageData" id="contentText">
                        <li>@Html.ActionLink(@io.Title, "SingleImage", "Image", @io, null)</li>
                    </ul>
                </div>
            }
        }
    }
    <span class="stretch"></span>
</div>
