@using PRO260_Team2Project
@model IEnumerable<ImageOwner>
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<h1>Home/Index</h1>
<div class="welcome">
    <img alt="welcome">
</div>
<div class="bodyImages">
    <div>
        @if(Model != null && Model.Count() > 0)
        {
            foreach (ImageOwner io in Model)
            {
                <div>
                    @*string imageBase64 = Convert.ToBase64String(io.Image.Image1);
                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                    <img src="imgSrc" class="images">*@
                    <ul>
                        <li>Title: @io.Title</li>
                        <li>Likes: @io.Likes</li>
                    </ul>
                    @*<li>@Html.ActionLink("View Page", "DisplayImagePage", "Image", io)</li>*@
                </div>
            }
        }
    </div>
    <span class="stretch"></span>
</div>
