@using PRO260_Team2Project
@model IEnumerable<Comment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageCenter</title>
</head>
<body>
    <div>
        @if (Model.Count() == 0)
        {
            <div>No News</div>
        }else{
        foreach (Comment c in Model)
        {
            <div class="Message">
            Posted on @c.ImageID
                @Html.Partial("~/shared/_Comment.cshtml",c)
                </Div>
        }
        }
    </div>
</body>
</html>
