@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Upload";
}

<h1>Upload Image</h1>
@using (Html.BeginForm("StoreImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @:Choose a file to upload:
    <input type="file" name="file" /> 
    <br />
    @:Price: <input type="number" name="price" />
    <br />
    @:Optional fields:
    <br />
    @:Title: <input type="text" name="title" />
    <br />
    @:Caption: <input type="text" name="caption" />
    <br />
    <input type="submit" value="Upload" />    
}
