@using PRO260_Team2Project;
@foreach(Image i in Model)
{
    <div>
        <img class="images">
        <ul>
            <li>Image ID: @i.ImageID</li>
            <li>OP ID: @i.OriginalPosterID</li>
            <li>Tags:
                @if (i.ImageTags != null)
                {
                    foreach (Image image in Model)
                    {
                        image.ToString();
                    }
                }
            </li>
        </ul>
    </div>
}