<<<<<<< HEAD
﻿@model PRO260_Team2Project.Flag
=======
﻿@using PRO260_Team2Project
@model Flag
>>>>>>> origin/master

@{
    ViewBag.Title = "AddFlag";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Flag image</legend>
        <div class="Flag Description">
            @Html.TextAreaFor(Model => Model.Description)
        </div>
        <input type="submit" value="Flag Image" />
    </fieldset>

}
