@using PRO260_Team2Project
@model Flag

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "AddFlag";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Flag image</legend>
        <div>Please state your complaint about this image:</div>
        <div class="Flag Description">

            @Html.TextAreaFor(Model => Model.Description)
        </div>
        <input type="submit" value="Flag Image" />
    </fieldset>

}
