@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<h1>Featured</h1>
<div class="welcome">
    <p>Welcome to the "featured" section! Everybody has a chance at getting their images on the featured section, whether it's by popularity or our choice to include you on this page! We update our featured section often, so don't forget to come back!</p>
</div>
<div class="imageFilter">
    <p class="filterResults"><a href="#">Filter Results</a></p>
    <br />
    <br />
    <select class="filter">
        <option>Nature</option>
        <option>Abstract</option>
        <option>Games</option>
        <option>Space</option>
    </select>
</div>

<div class="bodyImages">
    @Html.Partial("GetAllImagesPartial")<!---->
    <!--Use that in place of listing all divs manually-->
    <!--<div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes/Dislikes:</li>
            <li>Price:</li>
            <li>Tags:</li>
        </ul>
    </div>-->
    <span class="stretch"></span>
</div>
