@model TestWeek2.Models.Image

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<div class="imageSection">
    @Html.Partial("GetImagePartial")
</div>
<div class="commentSection">
    <!--Should I split the comment section into a partial view as well?-->
    <div class="comment">
        <h6>Username</h6><br />
        <p>I really like this picture.</p>
    </div>
</div>
