@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<h1>Home/Index</h1>
<div class="welcome">
    <img alt="welcome">
</div>
<div class="bodyImages">
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <div>
        <img class="images">
        <ul>
            <li>Title:</li>
            <li>Owner:</li>
            <li>Likes:</li>
            <li>Dislikes:</li>
        </ul>
    </div>
    <span class="stretch"></span>
</div>
