@model TestWeek2.Models.Image

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <h1>Profile</h1>
    <header>
        <div class="bio">
            <h3>Name Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="avatar">
            <img alt="profile image">
        </div>
    </header>
    <div class="portfolio">
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <div>
            <img class="images">
            <ul>
                <li>Title:</li>
                <li>Likes:</li>
                <li>Dislikes:</li>
            </ul>
        </div>
        <span class="stretch"></span>
    </div>
</div>