@using PRO260_Team2Project
@model IEnumerable<PRO260_Team2Project.Models.Notification>

@{
    ViewBag.Title = "Your Message Center";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
        <link rel="stylesheet" type="text/css" href="~/Assets/MCNotificationStyles.css" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageCenter</title>
</head>
<body>
    <div class="messages">
        @using(Html.BeginForm("SendMessage","MessageCenter",FormMethod.Post))
        {
          <fieldset>  
              <legend>Send Message</legend>
            <p>To:</p>@Html.TextBox("username")
            @Html.TextBox("title")
              @Html.TextArea("messageText")
            <input type="submit" class="send" />
              </fieldset>
        }
        <div>
            @if (Model == null || Model.Count() == 0)
            {
                <h1>No Messages to Display</h1>
            }
            else
            {
                foreach (PRO260_Team2Project.Models.Notification c in Model)
                {
                @Html.Partial("~/Views/shared/_NotificationView.cshtml", c)
            }                
            }
        </div>
    </div>
</body>
</html>
