@model PRO260_Team2Project.Comment

<div class="comment">
    <div>@Model.TimeStamp</div>
        <div>@PRO260_Team2Project.Controllers.AccountController.GetNameFromID(Model.PosterID);
        </div>
    <div>@Model.Content</div>
</div>