@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Admin Hub";
}

<h1>Admin Hub</h1>
<div class="welcome">
<p>
Hello Administrator @User.Identity.Name. This is the Admin Hub. From here, you can respond to flagged posts, manage roles, and ban users.
</p>
<ul>
    <li>@Html.ActionLink("Respond to Flags","Index","Admin")</li>
    <li>@Html.ActionLink("Do Role Things","RoleIndex","Account")</li>
    <li>@Html.ActionLink("Ban Users","Index","Admin")</li>
</ul>
    </div>